.Email-Confirm-Container{
    background-color: aliceblue;
}
.margin-Container{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 71.3rem;
    height: 100vh;
    width: 100vw;
}
.emailConfirmed-pic-container{
    width: 60%;
}
.emailConfirmed-pic-container img{
    width: 100%;
}
.alert-Container{
    width: 500px;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    background-color: aquamarine;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.301);
}
.email-Color{
    font-weight: 600;
    color: #ffff00;
    text-shadow: .1rem .1rem .2rem rgb(0, 0, 0,0.3);
    font-size: 1.5rem;
}
.input-Button{
    width: 100%;
    cursor: pointer;
    background-color: #f0f000;
    text-shadow: .1rem .1rem .2rem rgb(0, 0, 0,0.3);
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    border: none;
    color: #006400;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.alert{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}