<div class="footer-Info">
    <div class="logoContainer">
        <img class="logo" src="../assets/Images/CosmicStock Logo - Original - 5000x5000 (2).png" alt="CosmicStock Logo">
        <div class="social-links">
            <a class="footer-links" routerLink=""><i class="fa fa-facebook-square"></i></a>
            <a class="footer-links" routerLink=""><i class="fa fa-instagram"></i></a>
            <a class="footer-links" routerLink=""><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <div class="Contact-Us flexColumn">
        <p class="footer-heading">Contact Us</p>
        <a class="footer-links" routerLink="">Refund Policy</a>
        <a class="footer-links" routerLink="">Terms of Service</a>
        <a class="footer-links" routerLink="">Terms of Sell</a>

    </div>
    <div class="For-Users flexColumn">
        <p class="footer-heading">Users</p>
        <div class="footer-list flexColumn">
            <a class="footer-links" routerLink="">Create Account</a>
            <a class="footer-links" routerLink="">Sign In</a>
            <a class="footer-links" routerLink="">About CosmicStock</a>
            <a class="footer-links" routerLink="">Privacy & terms</a>
        </div>
    </div>
</div>
<p class="copy-right">Copyright &copy; 2023 by CosmicStock, Inc. All rights reserved.</p>