.footer-Info{
    max-width: 65rem;
    margin: 4rem auto 4rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer-heading{
    font-size: 1.3rem;
    text-shadow: .1rem .1rem .3rem rgb(0, 0, 0,0.5); 
}
.footer-links{
    text-decoration:none;
    text-shadow: .1rem .1rem .3rem rgb(0, 0, 0,0.5); 
    cursor:pointer; 
}
.footer-links i{
    font-size: 2rem;
}
.copy-right{
    font-size: .5rem;
    max-width: 50%;
    margin: auto;
    text-align: center;
    text-shadow: .1rem .1rem .3rem rgb(0, 0, 0,0.5); 
}
.logoContainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.logo{
    transform: scale(5);
    width: 5rem;
}
@media screen and (max-width:86em){
    .logo{
        transform: scale(2);
        width: 5rem;
    }
    .footer-Info{
        padding: 1rem;
        margin:auto
    }
}
@media screen and (max-width:58em){
    .logoContainer{
        margin-top: 1rem;
    }
    .footer-heading{
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .footer-links{
        font-size: .8rem;
    }
    .footer-links i{
        font-size: 1rem;
    }
}
@media screen and (max-width:44em){
    .logoContainer{
        margin-top: 1rem;
    }
    .logo{
        width: 4rem;
    }
    .footer-heading{
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .footer-links{
        font-size: .8rem;
    }
    .footer-links i{
        font-size: 1rem;
    }
}
@media screen and (max-width:18em){
    .logoContainer{
        display: none;
    }
}