<div class="reset-Password-Container">
    <div class="content">
        <header class="reset-Header">Reset Account Password</header>
		<p>Enter a new password.</p>
        <form class="action" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordMethod()" autocomplete="off">
            <div class="field">
                <input formControlName="newPassword" type="password" name="newPassword" id="password" placeholder="New Password">
                <span *ngIf="resetPasswordForm.get('newPassword').errors && resetPasswordForm.get('newPassword').dirty">New Password Required!</span>
            </div>
            <div class="field">
                <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                <span *ngIf="resetPasswordForm.get('confirmPassword').errors && resetPasswordForm.get('confirmPassword').dirty">Confirm Password Required!</span>	  
            </div>
            <button type="submit" class="btn">Rest Password <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>


