<section class="section-form">
        <div class="form">
            <div class="form-text-box">
                <form class="actual-form">
                    <h2 class="form-heading">Register here! </h2>
                    <p class="form-text"> <span>Discover the possibilities</span>, you can cancel anytime!</p>
                    <div class="input-Container">                     
                        <input id="Name" placeholder="Name" >
                    </div>
                    <div class="input-Container">
                        <input id="email" placeholder="Email@example.com" type="email">
                    </div>             
                    <button class="btn">Sign up</button>
                </form>
            </div>
            <div class="form-img-box" role="img" aria-label=""></div>
        </div>
</section>
