<div class="content-Background">
	<div class="content">
		<header class="forgot-Header">Forgot your Password?</header>
		<p>Enter the email you'd like your password reset information to be sent to.</p>
		<form class="action" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
			<div class="field">
				<input formControlName="email" type="text" placeholder="Email">
				<span class="log" *ngIf="forgotForm.get('email').errors && forgotForm.get('email').touched">Email is required!</span>
			</div>
			<div class="Login">
				<button class="btn"> Request reset link </button>
			</div>
		</form>
	</div>
</div>


