<app-nav></app-nav>
<div class="home-Container">
    <section class="section-hero">
        <div class="hero-container">
            <div class="hero-text">
                <h1 class="primary-heading">
                    Save Up To 30% Off Today 
                </h1>
                <p class="hero-description">On most products from your favorite brands!</p>
                <!-- <a routerLink="" class="btn">Discover</a> -->
            </div>
            <div class="hero-image-container">
                <img src="../assets/Images/tvs.png" class="hero-img" alt="">
            </div>
        </div>
    </section>
    <h4 class="categories-Title">Popular Categories</h4>
    <section class="category-Section">
        <div class="category-Container">
            <a>
                <img src="../assets/Images/cpu.png" alt="">
                <p>Laptops</p>
            </a>
            <a>
                <img src="../assets/Images/camera.png" alt="">
                <p>Cameras</p>
            </a>
            <a class="coff">
                <img class="coffeePic" src="../assets/Images/coffee.png" alt="">
                <p>Kitchen Supplies</p>
            </a>
            <a>
                <img src="../assets/Images/Iphone.png" alt="">
                <p>Smart Phones</p>
            </a>
            <a>
                <img src="../assets/Images/TVs1.png" alt="">
                <p>Flatscreens</p>
            </a>
        </div>
    </section>
    <div class="banner">
        <div class="overlay">
            <div class="content">
                <h1>A Wide Variety of Products Will Be Available Soon</h1>
                <p>Check out what's available below</p>
            </div>
        </div>
    </div>
    <h2 class="products-Title">Available Products</h2>
    <div class="real-Products-container" id="p">
        <app-real-products></app-real-products>
    </div>
    <div class="register">
        <app-register></app-register>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>

    


